body {
	background-color: #162133;
}
.button {
	text-align: center;
}
.main-carousel {
	width: 100%;
	height: 50%;
}
.carousel-cell {
	padding: 0 3%;
	height: 600px;
}
.change_gallery {
	margin: 2%;
	text-align: center;
}
.change_gallery a{
	color: #fff;
	text-decoration: none;
}
.change_gallery a:hover {
	color: blue;
}